<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
    http://www.springframework.org/schema/context 
   	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
	<context:component-scan base-package="com.hand.Event" /> 
	<bean id="propertyConfigurer"     
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">      
    <property name="location" value="classpath:dbconfig.properties"/>      
	</bean>
   <!-- Initialization for data source -->
   <bean id="datasource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="${driver}"/>
      <property name="url" value="${dburl}"/>
      <property name="username" value="${user}"/>
      <property name="password" value="${password}"/>
   </bean>
   
   <!-- Initialization for TransactionManager -->
   <bean id="transactionManager" 
      class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource"  ref="datasource" />    
   </bean>
   
   
   
   
   
   
    
   <!-- <bean id="cStartEventHandler" class="com.hand.Event.CStartEventHandler" />
	<bean id="cStopEventHandler" class="com.hand.Event.CStopEventHandler" />  -->

   <!-- Definition for studentJDBCTemplate bean -->
   <bean id="filmJDBCTemplate" 
      class="com.hand.film.FilmJDBCTemplate">
      <property name="dataSource"  ref="datasource" />   
       <property name="transactionManager"  ref="transactionManager" />   
   </bean>
	  <aop:aspectj-autoproxy/>  
<aop:aspectj-autoproxy proxy-target-class="true"/>
<!-- Definition for logging aspect -->
   <bean id="logging" class="com.hand.AOP.Logging"/>

</beans>